.content {
  height: 100vh;
}

html {
  background: linear-gradient(60deg, #fc00ff 0%, #4A314D 50%, #fc00ff 100%);
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  flex-direction: column;

}

.card p {
  padding-top: 10px;
  font-size: 16px;
}
